html, body {
  width: auto;
  height: 99%;
 
}

article {

  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

header {
  background-color: wheat;
 

  border-radius: 10px;
  border: 3px solid wheat;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  height: 520px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  
  
  
}

.form {
  margin: auto;
}

.item {
  height: 360px;
  width: 250px;
  padding: 5px;
  margin: 7px;
  display:block;
  align-items: center;
  justify-content: center;
  

  border-radius: 10px;
  border: 3px solid lightgray;
  background: rgb(240, 240, 240);
}

footer {
  background-color: wheat;
  margin: 10px;

  border-radius: 10px;
  border: 3px solid wheat;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.nav-button {
  background-color: white;
  border-radius: 10px;
  border: 3px solid whitesmoke;
  cursor: pointer;
  color: black;
  margin: 5px;
  height: 35px;
  font-weight: bold;
}

.menu-icon {
  display: none;
  margin: 5px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .menu-icon {
    display: inline;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  main {
    display: inline-block;
    margin: auto;
    
  }


  .item {
    text-align: center;
  }

  .nav-button {
    display: none;
  }
}
