html, body {
  width: auto;
  height: 99%;
 
}

article {

  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

header {
  background-color: wheat;
 

  border-radius: 10px;
  border: 3px solid wheat;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  background-color: white;
  margin: auto;
  
}

.form {
  margin: auto;
}

footer {
  background-color: wheat;
  

  border-radius: 10px;
  border: 3px solid wheat;
  padding: 4rem;
}

.nav-button {
  background-color: white;
  border-radius: 10px;
  border: 3px solid whitesmoke;
  cursor: pointer;
  color: black;
  margin: 5px;
  height: 35px;
  font-weight: bold;
}

.menu-icon {
  display: none;
  margin: 5px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .menu-icon {
    display: inline;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-button {
    display: none;
  }
}
